*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #b993d6, #8ca6db); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  text-align: center;
  margin: 30px auto;
  font-size: 50px;
  color: whitesmoke;
  font-family: monospace;
}

.grille{
  /*background: rgb(195,195,195);*/
  display: grid;
  grid-template: repeat(3,150px) / repeat(4,150px);
  width: 600px;
  height: 450px;
  margin: 25px auto;
}

.carte {
  background-color: transparent ;
  perspective: 1000px;
  margin: 5px;
}

.double-face{
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.face , .arriere {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.face{
  background: rgb(171 138 208);
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.face img, .arriere img {
  width: 90px;
}
.arriere{
  background: #b993d6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.active{
  transform: rotateY(180deg);
}

.reload {
  margin: auto;
  width: 120px;
  display: flex;
  flex-direction: column;
}

button {
  font-family: monospace;
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: lighter;
  margin: 5px 0;
  border: none;
  color: whitesmoke;
  background-color: #28a2a2;
}

.coups{
  margin: auto;
  font-family: monospace;
}